
/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* L1		- 1 - Mentions */
/* L71		- 2 - Éléments principaux */
/* L50		- 3 - Définitions des polices */
/* L130		- 5 - Header */
/* L166		- 6 - Burger */
/* L204		- 7 - Sections*/
/* L287		- 8 - Contact*/
/* L318		- 9 - Loisir*/
/* L341	    - 10 - Footer */
/* L354		- 11 - Media Queries*/



/* L		- 1 - */
/* L		- 2 - */
/* L		- 3 - */

/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */

.black-grey{/*text-color*/
    color: #37474F;
}
.couleur{
    color: #FFC107;
    font-family: sans-serif;
    /*text-shadow: 2px 2px 4px #CFD8DC; Ombrage qui me plait, mais pas très tendance*/ 
}


/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */


@font-face{
    font-family: 'FFF_Tusj.ttf';
    src: url('FFF_Tusj.ttf');
}
@font-face{
    font-family: 'Roboto-Medium.ttf';
    src: url('Roboto-Medium.ttf');
}
@font-face{
    font-family: 'Roboto-Light.ttf';
    src: url('Roboto-Light.ttf');
}




/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */
body{
    width: 100%;
    min-width: 350px;
    margin: 0;
}
#container{
    font-family: arial, sans-serif;
    color: #37474F;  
    margin: auto;
    padding-top:30px;
    
}
h2{
    font-size: 2em;
    font-family:'Roboto-Light.ttf', arial, serif;
    margin: 0 ;
    color: black;
    font-weight: normal;
    line-height:0.9em;
}

h6{
    color: black;
    font-size: 0.9em;
}
h1{
    margin: 0;
    font-size: 0.78em;
}
h4{
    margin:0 0 5px 0; 
}
h5{
    font-size: 0.9em;
    margin: 0 0 5px 0;
}
h3{
    margin: 0;
}
h2,h6,h4,h5{
    text-transform: uppercase;
}
p{
    text-align: justify;
}
a{
    text-decoration: none;
    color:#FFC107;
}
section{
    text-align: center;
    margin-bottom: 50px;
}




/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */




#infos{
    width:80%;
    max-width: 450px;
    margin-bottom : 50px;
    margin: 0 auto 50px auto;
    display:flex; 
    justify-content: space-around;
    
}
#infos div{
    width: 45%; 
    max-width: 200px;
    align-self: flex-end;
    /*aligne sur le bas l'image et le texte*/
}
header p{
    margin: 0;
}
#photo, #photoOrdi{
    width: 100%;
    border-radius:100%;
    box-shadow: 2px 2px 4px grey;
    cursor:pointer;
}
#photo:hover{
    box-shadow: 2px 2px 15px #FFC107;
}




/* ---------------------------------------- */
/* ==            BURGER                */
/*---------------------------------------- */

#burger{
    margin-bottom: 100px;
    text-align: center;
}
#burger ul{
    padding-left:0;
    width: 300px;
    list-style: none;
    font-size: 1em;
    margin: auto;
}
#burger ul li{
    padding: 0;
    line-height: 2.5em;
    height:2.5em;
    margin: 10px auto;
    background-color: #546E7A;
    text-transform: uppercase;
    font-family:  arial, serif;
    cursor:pointer;
    vertical-align: middle;
    font-weight:bolder;
}
#burger a:hover{
    color: peachpuff;
    text-shadow: 0px 0px 10px black;
}
/*style visité que j'aime bien mais pas tendance

#burger a:visited{
    color: navajowhite;
}*/


/* ---------------------------------------- */
/* ==            SECTIONS                */
/*---------------------------------------- */

/*      -  Formation  -
        -  Expériences -
        -  Recommandations -
        -  A propos  -
*/

.section ul, #propos{
    padding-left: 30px;
    padding-right: 30px;
}
#contact, #recommandations{
    padding-left: 10px;
    padding-right: 10px;
}
.section li {
    list-style-type: none; 
    background-image: url(images/point-orange-20px.png); 
    background-repeat: no-repeat;
    background-position: left -2px;
    padding-left: 35px; 
    padding-bottom : 20px
}
.section li:first-child {
    background-position: left -0px;
    background-image: url(images/bullet-point-orange-20px-2.0.png);
}
h6 i{
    font-size:1.7em;
    margin-right: 5px;
    color:#FFC107;
}
 
.section h4{
    font-size: 0.9em;
    text-align: left;
}
.section h5{
    font-size: 0.9em;
    text-align: left;
}
.section h3{
    text-align: left;
    font-size: 0.9em;
}
.section p{
    margin:0;
    font-size: 0.9em;
}



/*  Recommandations   */

#recommandations ul{
    width: 100%;
    max-width: 500px;
    display:flex;
    justify-content: space-around;
    padding-left:0;
    font-size:1em;
    margin: auto
}
#recommandations li{
    font-size: 0.8em;
    width: 50%;
    list-style-type: none; /* on annule la puce par défaut */
    background-position: left -4px; /* on positionne où l'on veut */
    text-align: left;
    background-repeat: no-repeat; /* on annule la répétition par défaut */
    padding-left: 20px; /* pour éviter la superposition du contenu */
    background-image: url(images/point-orange-20px.png);
}
#recommandations p{
    font-size: 0.9em;
}

/* ---------------------------------------- */
/* ==             CONTACT                  */
/*---------------------------------------- */

#contact div{
    display: flex;
    max-width: 500px;
    margin: auto
}
#contact div ul{
    width: 100%;
    padding-left: 0;
    margin:0 ;
    font-size:1em;  
    
}
#contact li{
    font-size: 0.8em;
    margin-bottom: 10px;
    list-style-type: none; /* on annule la puce par défaut */
    background-position: left -3px; /* on positionne où l'on veut */
    text-align: left;
    background-repeat: no-repeat; /* on annule la répétition par défaut */
    padding-left: 20px; /* pour éviter la superposition du contenu */
    background-image: url(images/point-orange-20px.png);
}
#contact h5{
    text-align: left;
}


/* ---------------------------------------- */
/* ==             LOISIR                  */
/*---------------------------------------- */


#loisirs a i{
    color:#FFC107;
    font-size: 2em;
    height: 1em; 
    width: 1em;
    border-radius: 100%;
    border: 2px solid #37474F;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 3px grey;
    margin: 20px;
    cursor:pointer;
}
#loisirs a i:hover{
    color: orangered;
    box-shadow: 0px 0px 10px  grey;
}

/* ---------------------------------------- */
/* ==            FOOTER                 */
/*---------------------------------------- */

footer{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}



/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */

#photoOrdi{display:none}

/* -- MEDIA Télephones -- */

@media only screen and (orientation: landscape) and (max-width:899px){
    body{
        font-size: 1.2em;
    }
    #burger {
        font-size: 0.85em;
    }
    #infos div{
        width: 200px; 
    }
    #infos{
        width:450px;
    } 
    h6{ 
        font-size: 1.1em;
        margin-bottom: 30px;
    }
    #contact, #recommandations{
        padding-left: 30px;
        padding-right: 30px;
    }
    #loisirs a i{
        font-size: 3em;
    }
    #contact div ul, #recommandations ul, h5{
        font-size: 1.1em;
    }
}
    

/*  -- MEDIA Ecrans ordinateurs -- */

@media only screen and (min-width:900px){
    body{
        font-size: 2vw;
    }
    #container{
        padding: 0;
    }
    .dispNone{
        display:none;
    }
    h6{
        margin: 3vw 0;
    }
    li{
        background-size: 2.6vw;
    }
    /*Réorganisation des divs*/
    
    
    .computer:nth-child(9){
        order:1; /* photo */
    }
    .computer:nth-child(8){
        order: 2; /* contacts */
    }
    .computer:nth-child(6){
        order: 3; /* a propos */
    }
    .computer:nth-child(7){
        order: 4; /* loisirs */
    }
    
            /* ---  */
    
    .computer:nth-child(1){
        order: 5; /* header*/
        position: absolute;
        top:8.5vw;
    }
   
    .computer:nth-child(3){
        order: 6; /* formations */
        position: absolute;
        top:20.6vw;
    }
    .computer:nth-child(4){
        order: 7; /* expérience */
        position: absolute;
        top:65vw;
    }
    .computer:nth-child(5){
        order: 8; /* recommandations */
        position: absolute;
        top:125vw;
    }
    
    
    .computer:nth-child(2){
        order: 99; /* ? */
    }
    
    
    /* Ajustement des divs */
    
    
    

    /* -- PARTIE GAUCHE -- */
    
    .gauche{
        width: 30%;
        background-color: #FFC107;
        margin-bottom: 0;
        padding-bottom: 3vw;
    }
    #container{
        display: flex;
        flex-direction: column;
    }
    .gauche h6{
        color: #FFC107;
        background-color:#37474F; 
        height: 2em;
        line-height: 2em;
        margin-top: 0;
    }
    .gauche h6 i{
        display: none;
    }
    
    /* Photo */
    #cadrePhoto{
        padding-top: 3vw;
    }
    #photoOrdi{
        display:flex;
        width: 60%; 
        margin: 0 auto;
        box-shadow: none;
        padding-top: 0px;
    }
    
    /* A propos */
    #propos{
        padding: 0 3vw;
    }
    
    
    
    /* Contact */
    #contact{
        padding-left: 0;
        padding-right: 0;
    }
    #contact div{
        flex-direction: column;
        padding: 0 3vw
    }
    #contact li{
        padding-left: 0px;
        background-image: none;
    }
    
    /* Loisirs */
    #loisirs a i{
        font-size: 4vw;
        color:#37474F;
        line-height: 5vw;
        width: 5vw;
        height: 5vw;
        margin: 0.9vw;
        border: 0.3vw solid #37474F;
    }
    #loisirs{
        padding-top: 25vw;
        padding-bottom: 3vw;
        margin-bottom: 0;
        
    }
    
    
    

    /* -- PARTIE DROITE --*/
    
    .droite{
        width: 60%;
        position: absolute;
        left:35%;
        padding-bottom: 3vw;
        margin: 0;
    }
    .droite h6{
        text-align: left;
        padding-bottom: 10px;
        border-bottom: 0.2vw solid #FFC107;   
    }
    .droite ul{
        padding:0;
    }
    .droite li{
        padding-left: 3vw;
    }
    
    #infos{
        margin: 0 ;
        width: 60%;
        max-width: none;
        justify-content: flex-start;
    }
    #infos div{
        width: 100%;
        max-width: none;
    }
    #infos h2{
        display: flex
    }
    #infos p:first-child{
        padding-right: 1.5vw;
    }
    #recommandations{
        padding: 0;
    }
    #recommandations ul{
        max-width: none;
        
    }
    #recommandations li{
        padding-left: 3vw;
    }
    h1{
        font-size: 2.1vw;
    }
   
            
}

















/*@media only screen and (min-width: 950px)

/*     sous partie      */

/*     sous partie      */

/* 4 breaking-points :

Les très petits écrans (< 768 px : pour les écrans dont la largeur est comprise entre 0 px et 768 px)

Tablettes (768 px - 991 px)

Ordinateurs (992 px - 1199 px)

Grands écrans d'ordinateurs et télévisions*/

/*
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// usage
.my-box {
  padding: 10px;
  
  @include for-desktop-up {
    padding: 20px;
  }
}
*/











