
/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* L1		- 1 - Mentions */
/* L10		- 2 - Éléments principaux */
/* L2		- 3 - Définitions des polices */
/* L70		- 4 - Blocs and Misc*/
/* L150		- 5 - Header */
/* L400		-  6 - Main */
/* L2136	- 7 - Footer */

/*
HEADER

SECTIONS :
 - Bandeau
 - Burger
 - Formations
 - Expérience professionnelle
 - Recommandations
 - A propos de moi
 - Contact&Loisirs

*/
/* L		- 1 - */
/* L		- 2 - */
/* L		- 3 - */

/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/*
Black-grey (text) :	  #37474F;
Dark gray (links, h1) :		#008dde
Mid gray (visited links) :	#0006a1
Light gray (h2) :		#747474
*/

/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */


@font-face{
    font-family: 'FFF_Tusj.ttf';
    src: url('FFF_Tusj.ttf');
}
@font-face{
    font-family: 'Roboto-Medium.ttf';
    src: url('Roboto-Medium.ttf');
}
@font-face{
    font-family: 'Roboto-Light.ttf';
    src: url('Roboto-Light.ttf');
}




/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */

#container{
    
    font-family: arial, sans-serif;
    color: #37474F;
    width: 900px; 
    margin: auto;
    padding: 0 10%;
    border: 1px solid red;
}
h2{
    color: black;
    font-size: 2em;
}
h3{
    margin: 0;
    font-size: 1.6em
}
h4{
    margin:0 0 5px 0; 
}
h5{
    font-size: 12px;
    margin: 0 0 5px 0;
}
h6{
    font-size: 15px;
    margin: 0;
}

h1,h2,h4,h5{
    text-transform: uppercase;
}
p{
    text-align: justify;
}
i{
}
ul{
    padding: 0px; 
}
a{
    text-decoration: none;
    color:black;
}
section{
    text-align: center;
    margin-bottom: 100px
}

/*
a:hover{
    color: red;
}
a:visited{
    color: darkblue;
}*/

/*     sous partie      */

/*     sous partie      */

/*     sous partie      */

/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */


/*     h1     */ 

#infos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;    
    
    
    margin: 100px 0;
}
#infos div{    
    align-self: flex-end;
}
#cadrePhoto{
  
    
}
#photo{
    border-radius:200px;
    width: 400px;
    box-shadow: 2px 2px 4px grey;
}
.couleur{
    color: orange;
    font-family: sans-serif;
}
h1{
    font-size: 5em;
    font-family:'Roboto-Light.ttf', arial, serif;
    margin: 0 50px;
    color: black;
    font-weight: normal;
    line-height:0.9em
}
h3{
    margin: 0 50px;
    font-size: 1.95em;
}

/*     Slider      */



/* ---------------------------------------- */
/* ==            BURGER                */
/*---------------------------------------- */


#burger{
    margin-bottom: 100px;
}
#burger ul{
    
    width: 70%;
    list-style: none;
    font-size: 1.8em;
    margin: auto;
       
}
#burger ul li{
    line-height: 70px;
    height:70px;
    color: white;
    margin: 20px auto;
    background-color: orange;
    text-transform: uppercase;
    font-family:  arial, serif;
    box-shadow: 0px 0px 20px grey inset;
    cursor:pointer;
    vertical-align: middle;
    font-weight:bolder;
}
#burger ul li:hover{
    color: yellow
}
#burger ul li:visited{
    color: red
}


/* ---------------------------------------- */
/* ==            SECTIONS                */
/*---------------------------------------- */

/*      -  Formation  -
        -  Expériences -
        -  Recommandations -
        -  A propos  -
*/


.section li {
    list-style-type: none; /* on annule la puce par défaut */
    background-image: url(images/point-orange-20px.png); /* on affiche l'image souhaitée */
    background-repeat: no-repeat; /* on annule la répétition par défaut */
    background-position: left 96px; /* on positionne où l'on veut */
    padding-left: 70px; /* pour éviter la superposition du contenu */
    margin-bottom: 30px;
}
.section li:first-child {
    background-image: url(images/bullet-point-orange-20px-2.0.png); /* on affiche l'image souhaitée */
}
.section:nth-child(8) li {
    background-position: left 10px; /* on positionne où l'on veut */
    text-align: left
}
.section i{
    font-size:1.3em;
    position: relative;
    bottom: 4px;
    margin-right: 30px;
    color:orange;
}
 
section h4{
    font-size: 1.5em;
    text-align: left;
}
section h5{
    font-size: 1.5em;
    text-align: left
}
section h6{
    text-align: left;
    font-size: 1.5em;
}
.section p{
    margin:0;
    font-size: 1.6em
}




/* ---------------------------------------- */
/* ==        CONTACT & LOISIRS             */
/*---------------------------------------- */
#contactLoisir{
    display: flex;
    justify-content: space-around;
}
#contact{
    list-style-type: none;
    padding: 0;
    text-align: left;
    font-size: 1.6em;
}
#contactLoisir div{
    width: 50%;
}
#contact li{
    margin: 15px;
}
#contactLoisir .icones{
    margin: auto
}
#contactLoisir i{
    color:#f16822;
    font-size: 3em;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    border: 2px solid #37474F;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 3px grey;
    margin: 10px
}
#contactLoisir div:nth-child(2){
    display: flex;
    flex-direction: column;    
}



/* ---------------------------------------- */
/* ==            FOOTER                 */
/*---------------------------------------- */

/*     sous partie      */

/*     sous partie      */

/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */

/*     sous partie      */

/*     sous partie      */

/* 4 breaking-points :

Les très petits écrans (< 768 px : pour les écrans dont la largeur est comprise entre 0 px et 768 px)

Tablettes (768 px - 991 px)

Ordinateurs (992 px - 1199 px)

Grands écrans d'ordinateurs et télévisions*/






















/* Partie Droite */


#recommand{
    display:flex;
    justify-content: left;
}
#recommand div:first-child{
    padding-right: 20px;
    width: 50%;
}






























/*@font-face {
    font-family: 'FFF_Tusj.ttf';
    src: url('FFF_Tusj.ttf');
}
@font-face {
    font-family: 'KaushanScript-Regular.otf';
    src: url('KaushanScript-Regular.otf');
}
#liseret{
    width: 10%;
    height:900px;
    float: left;
    background:url(lodyas.png);
    margin:0 20px;
    border-radius: 10px;
     box-shadow: 3px 3px 10px grey;
}
#monNom{
    font-size: 25px;
    margin: 30px 0 0 0;
}
header{
    display:flex;
    margin-bottom: 50px;
}
img{
    border-radius: 4px;
    margin: 5px 40px 0 30px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
}
#sections{
    display: flex;
}
section{
    margin-right: 25px;
    width:30%;
    min-width: 150px;
    max-height: 530px;
    overflow: hidden;
}
h1{
    font-family: 'FFF_Tusj.ttf';
}
h3{
    text-transform: uppercase;
    text-align: center;
}
h4{
    text-align: center;
}
h5{
    margin:25px auto 0 auto;
}
#statut{
    text-align: center;
    margin: 0px auto 50px auto;
    text-transform: uppercase; 
}
a:hover{
    color: red;
}