
/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* L1		- 1 - Mentions */
/* L10		- 2 - Éléments principaux */
/* L2		- 3 - Définitions des polices */
/* L70		- 4 - Blocs and Misc*/
/* L150		- 5 - Header */
/* L400		-  6 - Main */
/* L2136	- 7 - Footer */

/*
HEADER

SECTIONS :
 - Bandeau
 - Burger
 - Formations
 - Expérience professionnelle
 - Recommandations
 - A propos de moi
 - Loisirs
 - Contact


*/
/* L		- 1 - */
/* L		- 2 - */
/* L		- 3 - */

/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */

.black-grey{/*text-color*/
    color: #37474F;
}
.couleur{
    color: #FFC107;
    font-family: sans-serif;
    /*text-shadow: 2px 2px 4px #CFD8DC; Ombrage qui me plait, mais pas très tendance*/ 
}


/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */


@font-face{
    font-family: 'FFF_Tusj.ttf';
    src: url('FFF_Tusj.ttf');
}
@font-face{
    font-family: 'Roboto-Medium.ttf';
    src: url('Roboto-Medium.ttf');
}
@font-face{
    font-family: 'Roboto-Light.ttf';
    src: url('Roboto-Light.ttf');
}




/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */
body{
    width: 100%;
    margin: 0;
}
#container{
    font-family: arial, sans-serif;
    color: #37474F;  
    margin: auto;
    padding-top:30px;
    
}
h1{
    font-size: 2em;
    font-family:'Roboto-Light.ttf', arial, serif;
    margin: 0 ;
    color: black;
    font-weight: normal;
    line-height:0.9em;
    /*text-shadow: 2px 2px 4px #78909C;*/
}

h2{
    color: black;
    font-size: 0.9em;
}
h3{
    margin: 0;
    font-size: 0.78em;
}
h4{
    margin:0 0 5px 0; 
}
h5{
    font-size: 1em;
    margin: 0 0 5px 0;
}
h6{
    margin: 0;
}
h1,h2,h4,h5{
    text-transform: uppercase;
}
p{
    text-align: justify;
}
a{
    text-decoration: none;
    color:#FFC107;
}
section{
    text-align: center;
    margin-bottom: 50px;
}



/*     sous partie      */

/*     sous partie      */

/*     sous partie      */

/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */


/*     h1     */ 

#infos{
    width:80%;
    margin-bottom : 50px;
    margin: 0 auto 50px auto;
    display:flex; 
    justify-content: space-around;
    
}
#infos div{
    width: 45%; 
    align-self: flex-end;
    /*aligne sur le bas l'image et le texte*/
}
#photo{
    width: 100%;
    border-radius:100%;
    box-shadow: 2px 2px 4px grey;
    cursor:pointer;
}
#photo:hover{
    box-shadow: 2px 2px 15px #FFC107;
    /*box-shadow: 0px 0px 10px black;*/
}

/*     Slider      */



/* ---------------------------------------- */
/* ==            BURGER                */
/*---------------------------------------- */

nav{
    text-align: center;
}
#burger{
    margin-bottom: 100px;
}
#burger ul{
    padding-left:0;
    width: 300px;
    list-style: none;
    font-size: 1em;
    margin: auto;
}
#burger ul li{
    padding: 0;
    line-height: 2.5em;
    height:2.5em;
    margin: 10px auto;
    background-color: #546E7A;
    text-transform: uppercase;
    font-family:  arial, serif;
    cursor:pointer;
    vertical-align: middle;
    font-weight:bolder;
}
#burger a:hover{
    color: orangered;
    text-shadow: 0px 0px 10px black;
}
/*style visité que j'aime bien mais pas tendance

#burger a:visited{
    color: navajowhite;
}*/


/* ---------------------------------------- */
/* ==            SECTIONS                */
/*---------------------------------------- */

/*      -  Formation  -
        -  Expériences -
        -  Recommandations -
        -  A propos  -
*/

.section ul, #propos{
    padding-left: 30px;
    padding-right: 30px;
}
#contact, #recommandations{
    padding-left: 10px;
    padding-right: 10px;
}
.section li {
    list-style-type: none; /* on annule la puce par défaut */
    background-image: url(images/point-orange-20px.png); /* on affiche l'image souhaitée */
    background-repeat: no-repeat; /* on annule la répétition par défaut */
    background-position: left -2px; /* on positionne où l'on veut */
    padding-left: 35px; /* pour éviter la superposition du contenu */
    padding-bottom : 20px
}
.section li:first-child {
    background-position: left -0px; /* on positionne où l'on veut */
    background-image: url(images/bullet-point-orange-20px-2.0.png); /* on affiche l'image souhaitée */
}
h2 i{
    font-size:1.7em;
    /*position: relative;
    bottom: 4px;*/
    margin-right: 5px;
    color:#FFC107;
}
 
.section h4{
    font-size: 0.9em;
    text-align: left;
}
.section h5{
    font-size: 0.9em;
    text-align: left;
}
.section h6{
    text-align: left;
    font-size: 0.9em;
}
.section p{
    margin:0;
    font-size: 0.9em;
}



/*  Recommandations   */

#recommandations ul{
    display:flex;
    justify-content: space-around;
    padding-left:0;
    text-align: left;
    font-size:1em;
    
}
#recommandations li{
    width: 50%;
    list-style-type: none; /* on annule la puce par défaut */
    background-position: left -4px; /* on positionne où l'on veut */
    text-align: left;
    background-repeat: no-repeat; /* on annule la répétition par défaut */
    padding-left: 20px; /* pour éviter la superposition du contenu */
    background-image: url(images/point-orange-20px.png);
}
#recommandations p{
    font-size: 0.9em;
}

/* ---------------------------------------- */
/* ==             CONTACT                  */
/*---------------------------------------- */

#contact div{
    display: flex;
}
#contact ul{
    width: 100%;
    padding-left: 0;
    margin:0 ;
    font-size:1em;  
}

#contact li{
    font-size: 0.8em;
    margin-bottom: 10px;
    list-style-type: none; /* on annule la puce par défaut */
    background-position: left -3px; /* on positionne où l'on veut */
    text-align: left;
    background-repeat: no-repeat; /* on annule la répétition par défaut */
    padding-left: 20px; /* pour éviter la superposition du contenu */
    background-image: url(images/point-orange-20px.png);
}
#contact h5{
    text-align: left;
}


/* ---------------------------------------- */
/* ==             LOISIR                  */
/*---------------------------------------- */


#loisirs a i{
    color:#FFC107;
    font-size: 2em;
    height: 1em; 
    width: 1em;
    border-radius: 100%;
    border: 2px solid #37474F;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 3px grey;
    margin: 20px;
    cursor:pointer;
}
#loisirs a i:hover{
    color: orangered;
    box-shadow: 0px 0px 10px  grey;
}

/* ---------------------------------------- */
/* ==            FOOTER                 */
/*---------------------------------------- */

footer{
    width: 100%;
    text-align: center;
}



/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */

@media only screen and (orientation: landscape) {
    h1{
        font-size:3em;
    }
    h2{
        font-size: 1.4em
    }
    h3{
        font-size:1.17em;
    }
    #contact, #recommandations{
    padding-left: 30px;
    padding-right: 30px;
    }
    #loisirs a i{
    font-size: 3em;
    }
    #recommandations ul, #contact ul, {
        font-size: 1.5em;
    }
     h5{
        font-size: 2em
    }
}
    


/*     sous partie      */

/*     sous partie      */

/* 4 breaking-points :

Les très petits écrans (< 768 px : pour les écrans dont la largeur est comprise entre 0 px et 768 px)

Tablettes (768 px - 991 px)

Ordinateurs (992 px - 1199 px)

Grands écrans d'ordinateurs et télévisions*/

/*
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// usage
.my-box {
  padding: 10px;
  
  @include for-desktop-up {
    padding: 20px;
  }
}
*/











